:root {
  --bg: black;
  --header: rgb(196, 194, 194);
  --link: rgb(196, 194, 194);
  --text: hsl(49, 52%, 82%);
}

.header a {
  margin-right: 20px;
  font-size: 1.1em; 
}

.header-container {
  padding-bottom: 20px;
}

.logout {
  position: absolute;
  top: 10px;
  right: 18px;
  margin-top: 8px;
}

body {
  margin-top: 20px;
  margin-right: 25px;
  margin-bottom: 20px;
  margin-left: 25px;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg);
  color: var(--text);
}

@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mystery+Quest&display=swap');
@import url('https://fonts.googleapis.com/css?family=Griffy&display=swap');

h1 {
  font-family: 'Mystery Quest';
}

h2, h3 {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header h1 {
  font-size: 2em;
}

article {
  margin-bottom: 1rem;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

button {
  background: rgb(236, 234, 234);
  color: rgb(3, 1, 55);
  border: none;
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-family: inherit;
  margin-right: 8px;
}

button:hover {
  background: rgb(248, 196, 166);
  color: black;
}

form > * {
  display: block;
  margin-bottom: 0.5rem;
}

.generated-content {
  font-size: 15px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.generated-content-type {
  font-size: 12px;
  font-style: italic;
}

/* apply a 480px minimum width for viewports larger than 480px (personal computers), and a 100% minimum width for viewports 480px or smaller (tablets, iPhones) */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
  gap: 10px;
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

.story-card {
  border: 1px solid rgb(196, 194, 194);
  border-radius: 10px;
  padding: 10px;
  min-height: 200px;
  overflow: auto;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0.8); /* add semi-transparent black background */
  display: flex;
  flex-direction: column;
  justify-content: start; /* aligns content to the top */
}

.story-image {
  width: 60%;
  height: auto;
  border-radius: 15px; 
  display: block;
  max-width: 400px;
}

select {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.active-link {
  font-weight: bold;
  color: rgb(248, 196, 166);
  text-decoration: underline;
}

.edit-textarea {
  width: 100%;
  height: 25px;
  box-sizing: border-box;
  overflow-y: auto;
}

.search-bar {
  margin-top: 10px;
  padding: 0.3rem 0.7rem;
  box-sizing: border-box;
  width: 400px;
  font-family: inherit; 
  font-size: 14px;
  border-radius: 5px;
  font-style: italic;
}

/* Background transitions on story generator page */

.story-generator-background {
  position: relative; 
  height: 100vh;
  padding: 20px;
}

.story-generator-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: 
    radial-gradient(circle at top left, rgba(0, 0, 0, 1) 18%, rgba(0, 0, 0, 0) 30%),
    url('./images/BackgroundStoryGenerator.png');
  background-size: cover;
  background-position: center;
  z-index: -2;
}

.story-generator-background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  z-index: -1; 
  transition: background 0.5s ease; /* Optional: smooth transition */
}

.story-generator-background.story-generated::after {
  background: rgba(0, 0, 0, 0.8);
}

/* Background on login page */

.login-background {
  position: relative; 
  height: 100vh;
  padding: 20px;
}

.login-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: 
    radial-gradient(circle at top left, rgba(0, 0, 0, 1) 18%, rgba(0, 0, 0, 0) 30%),
    url('./images/BackgroundLogin.png');
  background-size: cover;
  background-position: center;
  z-index: -1; 
}

/* Background on signup page */

.signup-background {
  position: relative; 
  height: 100vh;
  padding: 20px;
}

.signup-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: 
    radial-gradient(circle at top left, rgba(0, 0, 0, 1) 18%, rgba(0, 0, 0, 0) 30%),
    url('./images/BackgroundSignup.png');
  background-size: cover;
  background-position: center;
  z-index: -1; 
}

/* Background on stories page */

.stories-background {
  background-image: url('./images/BackgroundStories.png');
  background-repeat: repeat;
  background-position: center;
  min-height: 100vh;
  padding: 20px;
}

/* Story image delete button */

.image-container {
  position: relative;
  display: inline-block; /* or "flex", depending on what you need */
}

.delete-image-button {
  position: absolute;
  top: 10px; 
  right: 5px; 
  background: black;
  border: none;
  cursor: pointer;
}